* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
background-color:blue;
}

.topnav {
    background-color: rgb(60, 83, 109);
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(170, 196, 212);
    color: black;
}

.intro {
    position: relative;
}

.intro img {
    max-width: 100%;
    height: 500%;
    height: auto;
    opacity: 1;
}

.intro-heading {
    position: absolute;
    top: 45%;
    left: 30%;
    color: white;
    font-size: 35px;
}


/* now working on footer*/

.footer {
    height: 150px;
    width: auto;
    background-color: rgb(60, 83, 109);
    position: relative;
}

.footer a {
    color: #f2f2f2;
    padding: 15px 15px;
    text-decoration: none;
}

.tag-line {
    position: absolute;
    top: 50%;
    left: 50%;
}

.moto {
    color: aquamarine;
}
